.call{
display: none;

}

.grab{
display: none;

}
.explore{
    display: none;

}
.search{
    display: none;

}
.question{
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    font-size: 50px;
     color: white;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color:#341C02;
    text-align: center;
    justify-content: center;

}
.background{
display:block;
width: 100%;

/* padding : 25px; */

}
 
.main{width:50%;
margin:0 auto;
background : gray;
border-radius: 15%;
padding: 10%;

}
button{
 font-size:15px;
  padding : 10px;
  border-width:1px;
  color:#0a0101;
  border-color:gray;
  border-top-left-radius:17px;
  border-top-right-radius:17px;
  border-bottom-left-radius:17px;
  border-bottom-right-radius:17px;
  box-shadow:inset 0px 0px 15px 3px gray;
  text-shadow:inset 0px 1px 0px gray;
  background:linear-gradient(gray, white);
}

button:hover {
  background: linear-gradient(gray, black);
   color:#f5ebeb;
}


/* new star stuff */

.main{width:70%}
p,h1{font-size:10vw}

button{
    width:40%;
font-size:5vw;
margin-bottom: 6px;


}

img{width:90%}

.btnCenter{}